/******************************************************************
Site Name:
Author:

Stylesheet: Special sizing for nav

******************************************************************/

.browsing #image_logo {
  margin-left: 5%;
}


.top-nav {
	li {
		a {
			padding: 8px 15px;
			font-size:100%;
		}
	}
}