/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
@font-face {
  font-family: 'Quicksand';
  src: url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
}
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 65, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 33, ../scss/breakpoints/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 34, ../scss/breakpoints/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 35, ../scss/breakpoints/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 36, ../scss/breakpoints/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 81, ../scss/breakpoints/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 85, ../scss/breakpoints/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 90, ../scss/breakpoints/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 95, ../scss/breakpoints/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/* START JANELLA STYLES */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 20, ../scss/breakpoints/_768up.scss */
body {
  text-align: center;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
/* line 29, ../scss/breakpoints/_768up.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */
  /* removing text decoration from all headline links */
}
/* line 38, ../scss/breakpoints/_768up.scss */
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

/* line 43, ../scss/breakpoints/_768up.scss */
h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

/* line 48, ../scss/breakpoints/_768up.scss */
h2, .h2 {
  font-size: 2.75em;
  line-height: 1.4em;
  color: #46a8de;
  font-weight: bold;
  margin-bottom: 0.375em;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 57, ../scss/breakpoints/_768up.scss */
h3, .h3 {
  font-size: 1.125em;
}

/* line 61, ../scss/breakpoints/_768up.scss */
h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
}

/* line 66, ../scss/breakpoints/_768up.scss */
h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
}

/*********************
PAGE LAYOUTS
*********************/
/* line 76, ../scss/breakpoints/_768up.scss */
.home .homeHero {
  display: inline-block;
  width: 100%;
  position: relative;
  bottom: -7px;
  margin-top: -7px;
}
/* line 82, ../scss/breakpoints/_768up.scss */
.home .homeHero img {
  width: 100%;
}
/* line 86, ../scss/breakpoints/_768up.scss */
.home .homeHero .banner {
  width: 150px;
  height: 290px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: calc(50% - 75px);
}
/* line 95, ../scss/breakpoints/_768up.scss */
.home .homeHero .banner .bannerButton {
  background-color: #41b649;
  color: #fff !important;
  width: 140px;
  text-align: center;
  top: 160px;
  position: absolute;
  left: calc(50% - 70px);
  font-size: 16px;
  padding: 5px 5px;
  box-shadow: 0 1px 2px 0px #222;
}
/* line 108, ../scss/breakpoints/_768up.scss */
.home .homeHero .banner_register_leaf {
  top: 40px;
  left: calc( 50% + 140px );
  position: absolute;
}
/* line 112, ../scss/breakpoints/_768up.scss */
.home .homeHero .banner_register_leaf img {
  max-width: 200px;
}
/* line 115, ../scss/breakpoints/_768up.scss */
.home .homeHero .banner_register_leaf h3 {
  position: absolute;
  top: calc(50% - 80px);
  left: 5px;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 3px #222;
}

/* line 132, ../scss/breakpoints/_768up.scss */
.page-template-programs .programs .contentSection.intro {
  max-width: 1040px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
/* line 139, ../scss/breakpoints/_768up.scss */
.page-template-programs .programs .contentSection.intro .icon_and_text {
  margin-top: 20px;
  width: 20%;
  display: block;
  float: left;
  clear: none;
  position: relative;
}
/* line 147, ../scss/breakpoints/_768up.scss */
.page-template-programs .programs .contentSection.intro .icon_and_text .img_container {
  width: 80%;
  max-width: 80px;
  height: 120px;
}
/* line 156, ../scss/breakpoints/_768up.scss */
.page-template-programs .programs .coursePrograms li {
  border-top: 1px dotted #9fa6b4;
}
/* line 158, ../scss/breakpoints/_768up.scss */
.page-template-programs .programs .coursePrograms li h2 {
  margin-bottom: 0px;
}
/* line 161, ../scss/breakpoints/_768up.scss */
.page-template-programs .programs .coursePrograms li:first-child {
  border: none;
}
/* line 168, ../scss/breakpoints/_768up.scss */
.page-template-programs .programs .curricula .curriculum {
  overflow: auto;
  position: relative;
}
/* line 171, ../scss/breakpoints/_768up.scss */
.page-template-programs .programs .curricula .curriculum .content_wrapper {
  display: block;
  max-width: 1040px;
  margin: auto;
  overflow: auto;
  position: relative;
}
/* line 178, ../scss/breakpoints/_768up.scss */
.page-template-programs .programs .curricula .curriculum .icon {
  padding: 0;
  opacity: 1;
  width: 15%;
  margin: 0 7.5%;
  left: 0px;
  top: calc(50% - 100px);
}
/* line 186, ../scss/breakpoints/_768up.scss */
.page-template-programs .programs .curricula .curriculum .curriculumContent {
  width: 65%;
  margin-right: 5%;
  float: right;
  clear: right;
  text-align: left;
}

/* line 210, ../scss/breakpoints/_768up.scss */
.page-template-contact_us .contact_form_wrapper .contact_us_form_wrapper #contact_us_form input[type='text'], .page-template-contact_us .contact_form_wrapper .contact_us_form_wrapper #contact_us_form input[type='email'] {
  display: inline;
  width: 48%;
}
/* line 214, ../scss/breakpoints/_768up.scss */
.page-template-contact_us .contact_form_wrapper .contact_us_form_wrapper #contact_us_form input[type='text'] {
  float: left;
}
/* line 217, ../scss/breakpoints/_768up.scss */
.page-template-contact_us .contact_form_wrapper .contact_us_form_wrapper #contact_us_form input[type='email'] {
  float: right;
}

/* line 251, ../scss/breakpoints/_768up.scss */
.programs .courseProgramsSchedule li {
  padding: inherit;
}
/* line 255, ../scss/breakpoints/_768up.scss */
.programs .mobile_coursePrograms {
  display: none;
}
/* line 258, ../scss/breakpoints/_768up.scss */
.programs .coursePrograms {
  display: block;
}
/* line 261, ../scss/breakpoints/_768up.scss */
.programs .dottedDevide {
  border-top: 1px dotted #9fa6b4;
  margin: 45px 0 0;
}
/* line 265, ../scss/breakpoints/_768up.scss */
.programs .regionSelector {
  width: 100%;
  display: inline-block;
}
/* line 269, ../scss/breakpoints/_768up.scss */
.programs .regionSelect {
  border-radius: 10px 10px 0 0;
  background: #c8e5f5;
  visibility: hidden;
}
/* line 274, ../scss/breakpoints/_768up.scss */
.programs .regionSelector span {
  cursor: pointer;
  display: inline-block;
  width: calc(50% - 3px);
  margin: 0 1px;
  background-color: #c8e5f5;
}
/* line 281, ../scss/breakpoints/_768up.scss */
.programs .go_to_registration_buttons {
  width: 100%;
  display: inline-block;
  margin: 15px 0;
}
/* line 285, ../scss/breakpoints/_768up.scss */
.programs .go_to_registration_buttons .buttonLink {
  margin: 0 15px;
  width: 350px;
}
/* line 290, ../scss/breakpoints/_768up.scss */
.programs .seattle span[data-region="seattle"] {
  cursor: default;
  color: #fff;
  background: #46a8de;
}
/* line 295, ../scss/breakpoints/_768up.scss */
.programs .hawaii span[data-region="hawaii"] {
  cursor: default;
  color: #fff;
  background: #46a8de;
}
/* line 300, ../scss/breakpoints/_768up.scss */
.programs .seattle tr.hawaiiRegion {
  display: none;
}
/* line 303, ../scss/breakpoints/_768up.scss */
.programs .hawaii tr.seattleRegion {
  display: none;
}
/* line 306, ../scss/breakpoints/_768up.scss */
.programs .classTable {
  margin: 0px 0 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 0 0 10px 10px;
  border-collapse: separate;
  border-spacing: 2px 2px;
  font-size: 1em;
  width: 100%;
  display: table;
}
/* line 318, ../scss/breakpoints/_768up.scss */
.programs .classTable th {
  display: table-cell;
  background: #46a8de;
  color: #fff;
  padding: 8px 0;
  font-weight: 300;
  border-bottom: none;
}
/* line 326, ../scss/breakpoints/_768up.scss */
.programs .classTable tr {
  display: table-row;
  padding: inherit;
}
/* line 330, ../scss/breakpoints/_768up.scss */
.programs .classTable td {
  display: table-cell;
  background: #c8e5f5;
  padding: 8px 0;
  font-weight: 300;
}
/* line 336, ../scss/breakpoints/_768up.scss */
.programs .classTable td input {
  display: inline-block;
  width: auto;
  height: 1.5em;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 50px;
  text-align: center;
}

/* line 351, ../scss/breakpoints/_768up.scss */
.register .coursePrograms > h2 {
  margin-top: 0px;
}
/* line 354, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #table_filters {
  background-color: #41b649;
  padding: 40px 10px;
  margin: 20px 0 40px;
}
/* line 358, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #table_filters select {
  display: inline-block;
  max-width: 32.8%;
  margin: 0;
}
/* line 363, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #table_filters .checkbox_wrapper {
  width: 100%;
  margin-top: 10px;
  color: #fff;
}
/* line 367, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #table_filters .checkbox_wrapper input {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
/* line 374, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table {
  text-align: left;
  width: 100%;
}
/* line 379, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td {
  position: relative;
  padding: 0 10px;
}
/* line 384, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.offering .offering_thumb {
  width: 100px;
  padding: 5px 5px 0 5px;
}
/* line 388, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.offering .offering_label {
  max-width: 35px;
  position: absolute;
  top: 5px;
  left: 5px;
}
/* line 394, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.offering .restriction {
  position: absolute;
  top: 0;
  left: calc( 100% - 30px);
  width: 170px;
}
/* line 399, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.offering .restriction .restriction_sym {
  vertical-align: middle;
  padding-right: 5px;
}
/* line 403, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.offering .restriction .restriction_text {
  color: #eb332b;
  display: none;
}
/* line 410, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.offering {
  width: 120px;
}
/* line 414, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.location {
  max-width: 300px;
}
/* line 416, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.location p {
  width: 100%;
  margin: 0px auto;
}
/* line 421, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.location p .pin {
  width: 12px;
}
/* line 427, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.location .tags .tag {
  font-size: .7em;
  color: #fff;
  border-radius: 10px;
  background-color: #33aad4;
  padding: 1px 5px 3px 6px;
}
/* line 433, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.location .tags .tag.core {
  background-color: #41b649;
}
/* line 436, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.location .tags .tag.studio {
  background-color: #ea0069;
}
/* line 439, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.location .tags .tag.junior {
  background-color: #ff9c00;
  padding-left: 8px;
}
/* line 446, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr td.register {
  text-align: center;
}
/* line 451, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
/* line 454, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr:hover td.offering .restriction_text {
  display: inline;
}
/* line 460, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr.empty_note td {
  padding: 0px;
}
/* line 462, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr.empty_note td div {
  text-align: center;
  background-color: #46a8de;
  color: #fff;
  padding: 10px 0 30px;
}
/* line 467, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr.empty_note td div h2 {
  color: #fff;
  font-size: 2em;
}
/* line 471, ../scss/breakpoints/_768up.scss */
.register .coursePrograms #classes_table tr.empty_note td div a {
  color: #fff;
}

/* line 482, ../scss/breakpoints/_768up.scss */
.registerForm .registerFormWrapper {
  margin-top: 50px;
  width: 700px;
  display: inline-block;
}

/* line 491, ../scss/breakpoints/_768up.scss */
div.testimonials h1, div.testimonials h2, div.testimonials h3, div.aboutUs h1, div.aboutUs h2, div.aboutUs h3 {
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #46a8de;
  font-weight: bold;
}
/* line 497, ../scss/breakpoints/_768up.scss */
div.testimonials .sectionHeaderWrapper, div.aboutUs .sectionHeaderWrapper {
  clear: both;
  text-align: center;
  padding-top: 40px;
}

/* line 504, ../scss/breakpoints/_768up.scss */
.formDescription {
  margin-top: 60px;
}

/* line 510, ../scss/breakpoints/_768up.scss */
div.aboutUs ul.teachers li {
  width: 48%;
}

/* line 517, ../scss/breakpoints/_768up.scss */
div.default .entry-content {
  margin-bottom: 50px;
  text-align: center;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/* line 527, ../scss/breakpoints/_768up.scss */
#inner-content.wrap {
  min-height: calc(100vh - 100px);
}

/* line 531, ../scss/breakpoints/_768up.scss */
.wrap {
  width: 760px;
  background-color: #eaeaea;
  padding: 0 1.5%;
  box-shadow: 0px 0px 8px -2px black;
}

/* line 541, ../scss/breakpoints/_768up.scss */
#container.browsing .header #inner-header {
  box-shadow: 0 0px 9px 0px rgba(0, 0, 0, 0.6);
}
/* line 546, ../scss/breakpoints/_768up.scss */
#container.browsing .header #logo {
  margin: 20px 0 25px;
  line-height: .7em;
}
/* line 550, ../scss/breakpoints/_768up.scss */
#container.browsing .header #logo a {
  color: #fff;
}
/* line 552, ../scss/breakpoints/_768up.scss */
#container.browsing .header #logo a:hover {
  color: #fff;
}
/* line 557, ../scss/breakpoints/_768up.scss */
#container.browsing .header .nav {
  background-color: #41b649;
  line-height: 90px;
  margin-top: -115px;
  transition: all 1s, background-color .5s ease-out .2s;
  padding-left: 110px;
}
/* line 563, ../scss/breakpoints/_768up.scss */
#container.browsing .header .nav li {
  	    /*
  		a[href$="/hawaii/"] {
  			animation: none;
        -webkit-animation: none;
  		}*/
}
/* line 569, ../scss/breakpoints/_768up.scss */
#container.browsing .header .nav li a {
  transition: color .5s ease-out .2s;
  color: #fff;
}
/* line 572, ../scss/breakpoints/_768up.scss */
#container.browsing .header .nav li a:hover {
  transition: color 0s;
}
/* line 580, ../scss/breakpoints/_768up.scss */
#container.browsing .header .nav li.current-menu-item a,
#container.browsing .header .nav li.current_page_item a,
#container.browsing .header .nav li.current_page_ancestor a {
  transition: color .5s ease-out .2s, box-shadow 1s;
  box-shadow: inset 0px -10px 0px 0px #f8c02a;
}

/*********************
HEADER STYLES
*********************/
/* line 596, ../scss/breakpoints/_768up.scss */
.header {
  position: fixed;
  width: 100%;
  transition: background-color .5s ease;
  line-height: 1em;
  z-index: 1;
  background-color: transparent;
}
/* line 604, ../scss/breakpoints/_768up.scss */
.header #inner-header {
  transition: all 1s ease;
  padding-bottom: 0px;
  background-color: #41b649;
  text-align: left;
  margin: 0px;
  padding: 0px;
  box-shadow: none;
}

/* line 614, ../scss/breakpoints/_768up.scss */
#logo {
  display: none;
}

/* line 617, ../scss/breakpoints/_768up.scss */
#image_logo {
  display: inline-block;
}

/* line 621, ../scss/breakpoints/_768up.scss */
#logo, #image_logo {
  margin: 30px 0 10px;
  text-transform: uppercase;
  transition: all 1s ease;
  width: 100%;
  text-align: center;
}
/* line 627, ../scss/breakpoints/_768up.scss */
#logo a, #image_logo a {
  transition: color .5s ease-in;
  font-size: 1.8em;
  font-weight: normal;
  font-family: Quicksand;
  color: #41b649;
}
/* line 633, ../scss/breakpoints/_768up.scss */
#logo a:hover, #image_logo a:hover {
  transition: color 0s;
  color: #41b649;
}
/* line 638, ../scss/breakpoints/_768up.scss */
#logo a img.image_left, #image_logo a img.image_left {
  height: 60px;
  vertical-align: top;
}
/* line 643, ../scss/breakpoints/_768up.scss */
#logo a img.image_right, #image_logo a img.image_right {
  height: 75px;
  width: 546.6px;
  transition: all 1s;
}

/* line 652, ../scss/breakpoints/_768up.scss */
.browsing #image_logo {
  width: 70px;
  margin-left: 3%;
}
/* line 658, ../scss/breakpoints/_768up.scss */
.browsing #image_logo img.image_right {
  width: 0px;
  opacity: 0;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 668, ../scss/breakpoints/_768up.scss */
.openNavButton {
  display: none;
}

/* line 672, ../scss/breakpoints/_768up.scss */
.top-nav {
  border-bottom: 0;
  margin: inherit;
  text-align: center;
  background: inherit;
  width: 100%;
  opacity: 1;
  pointer-events: inherit;
  transition: all 1s, background-color .5s .8s;
  visibility: visible;
  position: inherit;
  background-color: #fff;
  padding-left: 0px;
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 687, ../scss/breakpoints/_768up.scss */
.top-nav li {
  display: inline-block;
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 691, ../scss/breakpoints/_768up.scss */
.top-nav li a {
  transition: color .5s .8s;
  text-transform: uppercase;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 0;
  color: #5c6b80;
  margin: 0px;
  padding: 8px 10px;
  font-size: 80%;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 707, ../scss/breakpoints/_768up.scss */
.top-nav li a:hover, .top-nav li a:focus, .top-nav li.hover a {
  text-decoration: none;
  transition: color 0s;
  color: #41b649;
  background-color: #5c6b80;
}
/* line 712, ../scss/breakpoints/_768up.scss */
.top-nav li a:hover.drop_down, .top-nav li a:focus.drop_down, .top-nav li.hover a.drop_down {
  background-color: #5c6b80;
}
/* line 723, ../scss/breakpoints/_768up.scss */
.top-nav li ul.sub-menu,
.top-nav li ul.children {
  margin-top: 0;
  border-top: 0;
  position: absolute;
  visibility: hidden;
  z-index: 8999;
  line-height: 40px;
  /* highlight sub-menu current page */
}
/* line 732, ../scss/breakpoints/_768up.scss */
.top-nav li ul.sub-menu li,
.top-nav li ul.children li {
  line-height: 40px;
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 735, ../scss/breakpoints/_768up.scss */
.top-nav li ul.sub-menu li a,
.top-nav li ul.children li a {
  box-shadow: none !important;
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  background-color: #5c6b80;
  color: #fff;
  border-bottom: none !important;
}
/* line 745, ../scss/breakpoints/_768up.scss */
.top-nav li ul.sub-menu li a:hover, .top-nav li ul.sub-menu li a:focus,
.top-nav li ul.children li a:hover,
.top-nav li ul.children li a:focus {
  background-color: #929eb0;
}
/* line 757, ../scss/breakpoints/_768up.scss */
.top-nav li ul.sub-menu li:last-child a,
.top-nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 767, ../scss/breakpoints/_768up.scss */
.top-nav li ul.sub-menu li ul,
.top-nav li ul.children li ul {
  top: 0;
  left: 100%;
}
/* line 783, ../scss/breakpoints/_768up.scss */
.top-nav li:hover > ul {
  top: auto;
  visibility: visible;
}
/* line 794, ../scss/breakpoints/_768up.scss */
.top-nav li.current-menu-item a,
.top-nav li.current_page_item a,
.top-nav li.current_page_ancestor a {
  color: #41b649;
  transition: color .5s .8s, box-shadow 1s;
  box-shadow: inset 0px 0px 0px 0px #f8c02a;
}

/* end .nav */
/* line 805, ../scss/breakpoints/_768up.scss */
.latestNews {
  display: block;
  width: 100%;
  max-width: 60vw;
  border-radius: 0 0 15px 15px;
  background-color: #46a8de;
  box-shadow: 0px 3px 3px -2px black;
  transition: margin-top .7s, height 1.5s, opacity .5s;
  color: #fff;
  margin: 0 auto;
  margin-top: -300px;
  overflow: hidden;
  padding: 10px 0;
}
/* line 818, ../scss/breakpoints/_768up.scss */
.latestNews.show {
  margin-top: 0 !important;
}
/* line 823, ../scss/breakpoints/_768up.scss */
.latestNews .newsItem {
  padding: 3px 0;
  text-overflow: ellipsis;
}
/* line 827, ../scss/breakpoints/_768up.scss */
.latestNews .newsItem a {
  color: #f8c02a;
}
/* line 830, ../scss/breakpoints/_768up.scss */
.latestNews .newsItem.title {
  font-weight: bold;
}

/* line 836, ../scss/breakpoints/_768up.scss */
.latestNewsCloseButton {
  display: block;
  margin: 0 auto;
  padding: 3px 15px 6px;
  background-color: #46a8de;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 3px 3px -2px black;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  width: 155px;
  transition: width .5s;
}
/* line 848, ../scss/breakpoints/_768up.scss */
.latestNewsCloseButton.show {
  width: 90px;
}

/* line 856, ../scss/breakpoints/_768up.scss */
#content.register .jumpTos a {
  cursor: pointer;
}
/* line 861, ../scss/breakpoints/_768up.scss */
#content.register .imageList li {
  display: none;
  padding-top: 0;
  border: none !important;
}
/* line 868, ../scss/breakpoints/_768up.scss */
#content.register .imageList.listView .listViewTitle {
  display: block;
  font-size: 2em;
}
/* line 872, ../scss/breakpoints/_768up.scss */
#content.register .imageList.listView li {
  cursor: pointer;
  display: inline-block;
  width: 30%;
  margin: 1%;
  border: none;
  position: relative;
}
/* line 880, ../scss/breakpoints/_768up.scss */
#content.register .imageList.listView li .liContent {
  display: none;
}
/* line 883, ../scss/breakpoints/_768up.scss */
#content.register .imageList.listView li .offerring_type_table {
  display: none;
}
/* line 886, ../scss/breakpoints/_768up.scss */
#content.register .imageList.listView li .pixel {
  border-radius: 100%;
  float: left;
  width: 100%;
  position: relative;
}
/* line 891, ../scss/breakpoints/_768up.scss */
#content.register .imageList.listView li .pixel img {
  width: 100%;
  transition: opacity 1s, filter 1s;
}
/* line 897, ../scss/breakpoints/_768up.scss */
#content.register .imageList.listView li .hoverText {
  display: none;
  top: 0;
  width: 100%;
  padding: 10px;
  position: absolute;
}
/* line 903, ../scss/breakpoints/_768up.scss */
#content.register .imageList.listView li .hoverText:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 913, ../scss/breakpoints/_768up.scss */
#content.register .imageList.listView li .hoverText div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
}
/* line 924, ../scss/breakpoints/_768up.scss */
#content.register .imageList.listView li:hover .pixel img {
  filter: brightness(40%);
  opacity: .8;
}
/* line 928, ../scss/breakpoints/_768up.scss */
#content.register .imageList.listView li:hover .hoverText {
  display: block;
}

/*********************
NEWS TICKER STYLES
*********************/
/*********************
CONTENT
*********************/
/* line 945, ../scss/breakpoints/_768up.scss */
#content {
  transition: padding-top .5s ease-in;
  padding-top: 164px;
  background-color: #ccc;
}
/* line 950, ../scss/breakpoints/_768up.scss */
#content a.anchor {
  top: -180px;
}
/* line 954, ../scss/breakpoints/_768up.scss */
#content .hero {
  width: 100%;
  max-height: 50vh;
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 0;
  margin-top: -7px;
}
/* line 963, ../scss/breakpoints/_768up.scss */
#content .hero img {
  margin-top: -15vh;
  width: 100%;
}
/* line 967, ../scss/breakpoints/_768up.scss */
#content .hero h3 {
  position: absolute;
  top: 45%;
  margin-top: -15px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8em;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
}
/* line 983, ../scss/breakpoints/_768up.scss */
#content .jumpTos {
  font-size: .8em;
}
/* line 985, ../scss/breakpoints/_768up.scss */
#content .jumpTos .label {
  color: #9fa6b4;
  text-transform: uppercase;
  font-size: .7em;
  display: inline;
}
/* line 991, ../scss/breakpoints/_768up.scss */
#content .jumpTos a {
  border-bottom: 2px solid #41b649;
  margin: 0 15px;
  text-decoration: none;
  color: #5c6b80;
}
/* line 996, ../scss/breakpoints/_768up.scss */
#content .jumpTos a:hover {
  background-color: #41b649;
  color: #fff;
}
/* line 1001, ../scss/breakpoints/_768up.scss */
#content .jumpTos span {
  color: #5c6b80;
}
/* line 1008, ../scss/breakpoints/_768up.scss */
#content .imageList .listViewTitle {
  display: none;
}
/* line 1011, ../scss/breakpoints/_768up.scss */
#content .imageList li.active {
  width: 100%;
  display: inline-block;
  padding: 50px 0;
}
/* line 1016, ../scss/breakpoints/_768up.scss */
#content .imageList li.active .hoverText {
  display: none;
}
/* line 1020, ../scss/breakpoints/_768up.scss */
#content .imageList li.active article {
  display: inline-block !important;
}
/* line 1024, ../scss/breakpoints/_768up.scss */
#content .imageList li.active img {
  margin: 15px 5% 30px 0;
  width: 30%;
  float: left;
}
/* line 1029, ../scss/breakpoints/_768up.scss */
#content .imageList li.active .liContent {
  display: inline-block;
  text-align: left;
  width: 65%;
  float: right;
}
/* line 1035, ../scss/breakpoints/_768up.scss */
#content .imageList li.active .liContent h2 {
  margin-top: 0px;
}
/* line 1039, ../scss/breakpoints/_768up.scss */
#content .imageList li.active .offerring_type_table {
  display: block;
}

/* line 1046, ../scss/breakpoints/_768up.scss */
ul.teachers {
  padding: 50px 0;
}
/* line 1049, ../scss/breakpoints/_768up.scss */
ul.teachers li {
  display: inline-block;
  width: 23%;
  margin: 15px 1%;
}
/* line 1053, ../scss/breakpoints/_768up.scss */
ul.teachers li img {
  border-radius: 100%;
  width: 100%;
}
/* line 1057, ../scss/breakpoints/_768up.scss */
ul.teachers li h4 {
  margin: 10px 0 0;
}
/* line 1060, ../scss/breakpoints/_768up.scss */
ul.teachers li p {
  font-size: .8em;
  line-height: 1.7em;
  margin: 0;
}

/* line 1068, ../scss/breakpoints/_768up.scss */
ul.testimonials {
  padding: 50px 0;
}
/* line 1071, ../scss/breakpoints/_768up.scss */
ul.testimonials li {
  vertical-align: top;
  display: inline-block;
  width: 33.3333333333%;
  padding: 15px 2%;
  text-align: left;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 1078, ../scss/breakpoints/_768up.scss */
ul.testimonials li .quote {
  margin: 10px 0 0;
  color: #46a8de;
  font-weight: bold;
}
/* line 1083, ../scss/breakpoints/_768up.scss */
ul.testimonials li .source {
  font-style: italic;
  font-size: .8em;
  line-height: 2.5em;
  margin: 0;
  color: #9fa6b4;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 1098, ../scss/breakpoints/_768up.scss */
.sidebar {
  margin-top: 2.2em;
}

/* line 1102, ../scss/breakpoints/_768up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

/* line 1107, ../scss/breakpoints/_768up.scss */
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
/* line 1112, ../scss/breakpoints/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 1120, ../scss/breakpoints/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 1226, ../scss/breakpoints/_768up.scss */
#inner-footer {
  background-color: transparent;
  box-shadow: none;
}

/* line 1233, ../scss/breakpoints/_768up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/*********************
WIKI STYLES
*********************/
/* line 1251, ../scss/breakpoints/_768up.scss */
.kbe_articles ul {
  text-align: left;
}

/* line 1256, ../scss/breakpoints/_768up.scss */
.kbe_articles_list {
  text-align: left;
}

/* line 1260, ../scss/breakpoints/_768up.scss */
#kbe_container {
  padding-top: 150px;
}

/* line 1265, ../scss/breakpoints/_768up.scss */
#kbe_content {
  margin-left: 10%;
  margin-right: auto;
}
/* line 1269, ../scss/breakpoints/_768up.scss */
#kbe_content .kbe_leftcol p, #kbe_content .kbe_leftcol li {
  text-align: left;
}

/* line 1275, ../scss/breakpoints/_768up.scss */
.kbe_content_right {
  width: 90%;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 1282, ../scss/breakpoints/_768up.scss */
.kbe_content_left {
  width: 80%;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 1289, ../scss/breakpoints/_768up.scss */
.kbe_breadcrum {
  overflow-y: hidden;
  width: 100%;
  margin-left: 10%;
  margin-right: auto;
  overflow-x: visible;
}

/* line 1297, ../scss/breakpoints/_768up.scss */
.kbe_search_field {
  width: 40%;
  margin-left: 10%;
}

/* end wiki styles */
/* START JANELLA STYLES */
/* line 1307, ../scss/breakpoints/_768up.scss */
body.home .imageList li {
  width: 24.5%;
  padding: 1%;
  display: inline-block;
  vertical-align: top;
}
/* line 1313, ../scss/breakpoints/_768up.scss */
body.home .imageList li img {
  width: 80%;
}
/* line 1317, ../scss/breakpoints/_768up.scss */
body.home .imageList li h2 {
  font-size: 1.125em;
}
/* line 1321, ../scss/breakpoints/_768up.scss */
body.home .imageList li .buttonLink {
  padding: 10px 30px;
  font-size: 0.75em;
}
/* line 1328, ../scss/breakpoints/_768up.scss */
body.home .company_overview div {
  padding: 30px 40px;
  overflow: auto;
}
/* line 1331, ../scss/breakpoints/_768up.scss */
body.home .company_overview div p {
  font-size: 82%;
  max-width: 50%;
}
/* line 1334, ../scss/breakpoints/_768up.scss */
body.home .company_overview div img {
  max-width: 49%;
}
/* line 1336, ../scss/breakpoints/_768up.scss */
body.home .company_overview div img.no_mobile {
  display: inline-block;
}
/* line 1340, ../scss/breakpoints/_768up.scss */
body.home .company_overview div > * {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  float: right;
}
/* line 1345, ../scss/breakpoints/_768up.scss */
body.home .company_overview div > *:first-child {
  float: left;
}
/* line 1352, ../scss/breakpoints/_768up.scss */
body.home .about-list li {
  max-width: 780px;
  list-style-type: none;
  margin: auto;
  clear: both;
  border-bottom: dotted #eaeaea 2px;
  /* Kept camel-case building off original styles */
  /* Odd items right-aliged */
}
/* line 1359, ../scss/breakpoints/_768up.scss */
body.home .about-list li .about-list-images {
  image-rendering: pixelated;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 1368, ../scss/breakpoints/_768up.scss */
body.home .about-list li h2 {
  font-size: 1.125em;
  margin-top: 0;
  vertical-align: middle;
}
/* line 1375, ../scss/breakpoints/_768up.scss */
body.home .about-list li .liContent {
  overflow: hidden;
  text-align: left;
  vertical-align: middle;
  display: block;
  padding: 0 0 0 25px;
}
/* line 1383, ../scss/breakpoints/_768up.scss */
body.home .about-list li .ghost-block {
  height: 200px;
  width: 170px;
  float: left;
}
/* line 1389, ../scss/breakpoints/_768up.scss */
body.home .about-list li .ghost-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
/* line 1398, ../scss/breakpoints/_768up.scss */
body.home .about-list li .ghost-block-text {
  width: 100%;
}
/* line 1402, ../scss/breakpoints/_768up.scss */
body.home .about-list li .vert-centered-block {
  display: inline-block;
  vertical-align: middle;
}
/* line 1408, ../scss/breakpoints/_768up.scss */
body.home .about-list li .vert-centered-block-text {
  width: 99%;
}
/* line 1415, ../scss/breakpoints/_768up.scss */
body.home .about-list li:nth-child(2n + 2) .ghost-block {
  float: right;
}
/* line 1419, ../scss/breakpoints/_768up.scss */
body.home .about-list li:nth-child(2n + 2) .ghost-block-text {
  padding: 0;
  margin-right: 25px;
  text-align: right;
}
/* line 1426, ../scss/breakpoints/_768up.scss */
body.home .about-list li:last-child {
  border-bottom: none;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 12, ../scss/breakpoints/_1030up.scss */
.wrap {
  width: 1030px;
}

/* line 20, ../scss/breakpoints/_1030up.scss */
body.home .company_overview div {
  padding: 30px 40px;
}
/* line 22, ../scss/breakpoints/_1030up.scss */
body.home .company_overview div p {
  max-width: 47%;
  FONT-SIZE: 100%;
}
/* line 25, ../scss/breakpoints/_1030up.scss */
body.home .company_overview div img {
  max-width: 49%;
}
/* line 27, ../scss/breakpoints/_1030up.scss */
body.home .company_overview div img.no_mobile {
  display: inline-block;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
